@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap");

body {
  width: 100%;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  padding: 1% 10% 0 10%;
  color: white;
  width: 79%;
}
.video-section {
  position: relative;
  width: 100%;
  height: 100%;
}
.video-text {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  color: white;
  width: 50%;
  margin-left: 10%;
  margin-top: 20%;
  font-family: "Nanum Myeongjo", serif;
}
.video-button {
  width: 350px;
  height: 60px;
  cursor: pointer;
  background-color: white;
}

.video-container {
  position: relative;
  width: 100%;
  height: 100%;
  padding-bottom: 16.25%; /* 16:9 Aspect Ratio */
}

.video-container video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; /* This will cover the entire container without stretching the video */
  z-index: -1;
}

.mini-img {
  width: 40px;
  border-radius: 50%;
  border: 2px solid white;
}

.logo-section {
  display: flex;
  flex-direction: row;
  padding: 0.5rem;
  justify-content: center;
  align-items: center;
}
.logo-img {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.section1 {
  font-family: "Nanum Myeongjo", serif;
  display: flex;
  justify-content: center;
  padding-bottom: 3%;
  padding-top: 3%;
  font-size: 1.7rem;
}
.logo {
  padding: 20px;
  width: 120px;
  height: 80px;
}

#logo {
  font-weight: 600;
  font-size: 1.3rem;
}
h2 {
  font-family: "Nanum Myeongjo", serif;
  font-size: 3rem;
  width: 70%;
}
.text {
  font-family: "Nanum Myeongjo", serif;
  font-weight: 400;
  width: 70%;
}
.mushroom-img {
  width: 100%;
  height: 45%;
  margin-top: 5%;
  object-fit: cover;
  position: relative;
}
.mushroom-div {
  position: relative;
}
.text-1 {
  font-family: "Nanum Myeongjo", serif;
  position: absolute;

  width: 30%;

  background: -webkit-linear-gradient(#cc9900 28%, #ffffff 87%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: rgb(255, 255, 255);
  left: 10rem;
  top: 7rem;
  background-color: rgb(41, 41, 41, 0.8);
  padding: 0 1rem;
}
.selection {
  font-family: "Nanum Myeongjo", serif;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 10% 10% 3% 10%;
  color: white;
}
#box1 {
  background-color: #000000;
}
#box2 {
  background-color: #354d00;
}
#box3 {
  background-color: #c6810f;
}
#box4 {
  background-color: #220059;
}
.boxes {
  text-align: center;
}
.box-img {
  transition: transform 0.2s;
}
.box-img:hover {
  transform: scale(0.93);
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.9s ease;
  transition: all 0.8s ease;
}
.selection-text {
  font-family: "Nanum Myeongjo", serif;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 10%;
  width: 40%;
}
.img1 {
  width: 80%;
  margin: 10% 0% 1% 10%;
}
.img1-text {
  font-family: "Nanum Myeongjo", serif;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: left;
}
#img-text1 {
  font-family: "Nanum Myeongjo", serif;
  width: 50%;
  margin-left: 10%;
}
#img-text2 {
  font-family: "Nanum Myeongjo", serif;
  width: 30%;
  margin-right: 10%;
}
.img-button {
  font-family: "Nanum Myeongjo", serif;
  width: 300px;
  height: 50px;
  cursor: pointer;
  background-color: white;
  border: 1px solid black;
}
.img2 {
  width: 80%;
  margin: 10% 0% 1% 10%;
}
.img2-text {
  font-family: "Nanum Myeongjo", serif;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: left;
}
#img-text3 {
  font-family: "Nanum Myeongjo", serif;
  width: 50%;
  margin-left: 10%;
}
#img-text4 {
  font-family: "Nanum Myeongjo", serif;
  width: 30%;
  margin-right: 10%;
}
.lists {
  font-family: "Nanum Myeongjo", serif;
  width: 60%;
  border-bottom: 1px solid black;
  padding: 2rem;
  list-style-type: decimal-leading-zero;
}
.list-p {
  font-family: "Nanum Myeongjo", serif;
  width: 70%;
}
.list {
  font-family: "Nanum Myeongjo", serif;
  display: flex;
  padding-left: 5%;
  margin-top: 5%;
  background-color: tan;
  padding-bottom: 3%;
}
.list section {
  display: flex;
  flex-direction: row;
  width: 100%;
}
.list-img {
  display: flex;
  width: 40%;
  height: 30%;
}

.choice-of {
  font-family: "Nanum Myeongjo", serif;
  margin: 10% 5% 3% 5%;
  display: flex;
}
.choice-of-link {
  font-family: "Nanum Myeongjo", serif;
  display: flex;
  margin-left: 78%;
}
.choice-of-link a {
  font-family: "Nanum Myeongjo", serif;
  color: black;
  text-decoration: underline;
  font-size: 1.1em;
  display: flex;
  text-align: center;
  width: max-content;
}
.choice-1 {
  font-family: "Nanum Myeongjo", serif;
  font-size: 1.9em;
}
.choice-2 {
  font-family: "Nanum Myeongjo", serif;
  font-size: 0.7em;
  background-color: lightgray;
  padding: 3%;
  width: fit-content;
}
#boxes-choice {
  font-family: "Nanum Myeongjo", serif;
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  padding-bottom: 7%;
}
.kit-list {
  font-family: "Nanum Myeongjo", serif;
  padding: 1em;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.kits {
  font-family: "Nanum Myeongjo", serif;
  position: absolute;
  top: 40px;
  font-size: 1.1em;
}
#images {
  display: flex;
  flex-direction: row;
  object-fit: cover;
}
.images {
  width: 360;
  height: 350;
}
.last-section {
  background-color: rgba(218, 216, 202);
}
.last-1 {
  font-family: "Nanum Myeongjo", serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding-top: 10%;
}
.submit {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 25%;
}
.submits {
  background-color: white;
}
#email {
  width: 30%;
  height: 25%;
  outline: none;
  text-align: center;
}
#button {
  width: 10%;
  height: 25%;
  outline: none;
  text-align: center;
  cursor: pointer;
  text-decoration: underline;
}
.last-2 {
  font-family: "Nanum Myeongjo", serif;
  margin-left: 5%;
  padding-top: 10%;
  width: 50%;
}
.logo-last {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 10% 10% 5% 5%;
}
#links-last {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-left: 5%;
  margin-right: 5%;
}
.links-all {
  font-family: "Nanum Myeongjo", serif;
  align-items: center;
  justify-content: center;
  width: 30%;
}
.links-all a {
  cursor: pointer;
  padding-top: 3%;
  text-decoration: none;
  list-style-type: none;
  color: black;
}
.links-all li {
  padding: 2%;
}
.links-title {
  padding-bottom: 2%;
  border-bottom: 1px solid black;

  font-weight: bolder;
}
.ul-link {
  padding: 0;
}
.text-last {
  display: flex;
  flex-direction: row;

  justify-content: space-between;
  padding-bottom: 5%;
  padding-top: 5%;
  margin-left: 5%;
  margin-right: 5%;
}
.texts {
  width: 30%;
}
.texts a {
  align-items: center;
  justify-content: center;
  text-decoration: none;
  cursor: pointer;
  color: black;
}
/* Mobile View */
@media screen and (max-width: 500px) {
  .video-text {
    width: 100%;
    font-size: 0.8em;
  }
  .p {
    margin-right: 20%;
  }
  .logo {
    width: 80px;
    height: 60px;
  }
  .mushroom-img {
    height: 20%;
  }
  .text-1 {
    font-size: 1em;
    top: 6em;
    background: -webkit-linear-gradient(#cc9900 78%, #ffffff 38%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    left: 2em;
  }
  .selection-text {
    width: 80%;
    font-size: 0.8em;
  }
  .selection {
    display: block;
  }
  .boxes h3 {
    padding-top: 2%;
  }
  .box-img {
    width: 125px;
    height: 100px;
  }
  #img-text1 h2 {
    width: 80%;
    font-size: 1.8em;
  }
  #img-text1 {
    width: 100%;
  }
  #img-text2 {
    width: 78%;
    margin-left: 10%;
  }
  .img-button {
    margin-left: 10%;
  }
  .img1-text {
    flex-direction: column;
  }
  #img-text3 h2 {
    width: 80%;
    font-size: 1.8em;
  }
  #img-text2 {
    width: 78%;
  }
  #img-text3 {
    width: 100%;
    margin-left: 10%;
  }
  .img-button {
    margin-left: 10%;
  }
  .img2-text {
    flex-direction: column;
  }
  #img-text4 {
    width: 78%;
    margin-left: 10%;
  }
  .lists {
    width: 80%;
  }
  .list-img {
    display: none;
  }
  .choice-2 {
    display: none;
  }
  .choice-of {
    flex-direction: column;
    margin-left: 10%;
  }
  .choice-of-link {
    margin: 0;
  }
  #boxes-choice {
    display: block;
  }

  .images {
    width: 200;
    height: 100;
    object-fit: fill;
  }
  #email {
    width: 50%;
  }
  #button {
    width: 20%;
  }
  .last-2 {
    width: 100%;
  }
  .logo-last {
    margin-top: 15%;
  }
  .logo-end {
    width: 80;
    height: 50;
  }
  #links-last {
    flex-direction: column;
    align-items: baseline;
  }
  .links-all {
    width: 80%;
  }
  .text-last {
    flex-direction: column;
  }
  .texts {
    width: 80%;
    font-size: 0.7em;
  }
}
